<div class='container vspace'>
  <div class="page-header">
    <h2> Book Search
      <img style="float: right;" *ngIf="loading" src='assets/images/loading.gif' />
    </h2>
  </div>
  <div class="row vspace">
    <div class="input-group">
      <app-search-box (loading)="loading = $event" (results)="updateResults($event)" ></app-search-box>

    <img  src="../assets/bookwallpaper.jpg" class="center"> <img  src="../assets/bookwallpaper.jpg" class="center">
    </div>
  </div>

  <div class="row vspace">
    <p>{{message}}</p>
    <div class="input-group">
      <app-search-result *ngFor="let result of results" [result]="result"></app-search-result>
    </div>
  </div>
</div>
